.timer
{
    background-color:rgb(245, 95, 245);
    font-size:30px;
    height:100px;
    width:200px;
    text-align: center;
    align-content: center;
}
.haveTime {
  color: green;
}
.lessTime {
  color: orange;
}
.noTime {
  color: red;
}